.container {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}
.container li {
  list-style: none;
}
.container form {
  justify-content: flex-start;
}
.contdiv {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.inDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.inDiv select {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 17rem;
  max-height: 3rem;
}
.inDiv input {
  min-width: 9rem;
  margin-right: 1rem;
}
.list {
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(185, 181, 185);
  margin-top: 0.3rem;
}

.listdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: fit-content;
  align-items: center;
 flex-wrap: wrap;
}
.listdiv p{
word-wrap: break-word;
max-width: 70%;
margin: 0;
text-align: start;
}
.listdi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 2.5rem;
}
.listdiv button {
  height: 2.3rem;
  width: 3.7rem;
  border-radius: 0.5rem;
  background-color: rgb(1, 8, 75);
  color: white;
  font-size: medium;
}
.listdi :nth-child(2) {
  color: rgb(0, 0, 59);
}
.btn {
  text-decoration: none;
  border: none;
  font: 1rem sans-serif;
  color: black;
  background-color: rgb(175, 176, 177);
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}
.btn:hover,
.btn:active {
  background: #919091;
  border-color: #919091;
}
