.header{
  background-color: #282c34;
  min-height: 5rem;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.header h2{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
}
.btn{
  text-decoration: none;
  border: none;
  font: 1rem sans-serif;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}
.premium{
  text-decoration: none;
  border: none;
  font: 1rem sans-serif;
  color: rgb(109, 245, 109);
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  background-color: transparent;
}
.manubtn{
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 1.2rem;
  width: 20px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.manubtn span{
  background-color: white;
  height: 2px;
}
.btn:hover,
.btn:active {
  background: #919091;
  border-color: #919091;
}
.premium:hover {
  background-color: rgb(41, 131, 41);
}
.manubtn:hover{
  background: #919091;
  border-color: #919091;
}
@media (max-width: 768px) {
  .header{
    flex-direction: column;
  }
  .nav{flex-direction: column;}
  .nav div{
    display: flex;
    flex-direction: column;
  }
  .btn{
   font-size: 0.8rem;
   padding-left: 2px;
   padding-right: 2px;
  display: none;
  }
  .premium{
    font-size: 0.8rem;
    padding-left: 2px;
    padding-right: 2px;
    display: none;
  }
  .active{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
  }
  .manubtn{
    display: flex;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}